<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joytekmotion.yemilicious">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YemiliciousPot">
        <activity
            android:name=".ui.buyer.BuyersDashboardActivity"
            android:label="@string/title_activity_buyers_dashboard"
            android:theme="@style/Theme.YemiliciousPot.ActionBar" />
        <activity
            android:name=".ui.seller.AddFoodActivity"
            android:label="@string/add_food"
            android:theme="@style/Theme.YemiliciousPot" />
        <activity
            android:name=".ui.seller.SellerDashboardActivity"
            android:label="@string/title_activity_seller_dashboard"
            android:theme="@style/Theme.YemiliciousPot" />
        <activity
            android:name=".ui.SetupActivity"
            android:label="@string/title_activity_setup"
            android:theme="@style/Theme.YemiliciousPot.NoActionBar" />
        <activity android:name=".ui.RegisterActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.YemiliciousPot.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>